<table class="table table-striped">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ film.title }}</td>
        </tr>
        <tr>
            <th>Director</th>
            <td>{{ film.director }}</td>
        </tr>
        <tr>
            <th>Producer</th>
            <td>{{ film.producer }}</td>
        </tr>
        <tr>
            <th>Episode ID</th>
            <td>{{ film.episode_id }}</td>
        </tr>
        <tr>
            <th>Opening Crawl</th>
            <td>{{ film.opening_crawl }}</td>
        </tr>
        <tr>
            <th>Release Date</th>
            <td>{{ film.release_date | date : "dd/MM/y" }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ film.created | date : "dd/MM/y HH:mm:ss" }}</td>
        </tr>
        <tr>
            <th>Edited</th>
            <td>{{ film.edited | date : "dd/MM/y HH:mm:ss" }}</td>
        </tr>
        <tr>
            <th>Characters</th>
            <div class="list-group">
                <ng-container *ngIf="(characters | async) else loading">
                    <ng-container *ngFor="let c of characters | async">
                        <td class="list-group-item-action" (click)="showResource(c)">
                            <span class="fa fa-user"></span>
                            {{ c.name }}
                        </td>
                    </ng-container>
                </ng-container>
            </div>
        </tr>
        <tr>
            <th>Planets</th>
            <div class="list-group">
                <ng-container *ngIf="(planets | async) else loading">
                    <ng-container *ngFor="let p of planets | async">
                        <td class="list-group-item-action" (click)="showResource(p)">
                            <span class="fa fa-globe"></span>
                            {{ p.name }}
                        </td>
                    </ng-container>
                </ng-container>
            </div>
        </tr>
        <tr>
            <th>Species</th>
            <div class="list-group">
                <ng-container *ngIf="(species | async) else loading">
                    <ng-container *ngFor="let s of species | async">
                        <td class="list-group-item-action" (click)="showResource(s)">
                            <span class="fa fa-reddit"></span>
                            {{ s.name }}
                        </td>
                    </ng-container>
                </ng-container>
            </div>
        </tr>
        <tr>
            <th>Starships</th>
            <div class="list-group">
                <ng-container *ngIf="(starships | async) else loading">
                    <ng-container *ngIf="(starships | async)?.length; else noStarship">
                        <ng-container *ngFor="let s of starships | async">
                            <td class="list-group-item-action" (click)="showResource(s)">
                                <span class="fa fa-space-shuttle"></span>
                                {{ s.name }}
                            </td>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #noStarship>
                    <td class="font-italic">
                        No starship
                    </td>
                </ng-template>
            </div>
        </tr>
        <tr>
            <th>Vehicles</th>
            <div class="list-group">
                <ng-container *ngIf="(vehicles | async) else loading">
                    <ng-container *ngIf="(vehicles | async)?.length; else noVehicle">
                        <ng-container *ngFor="let v of vehicles | async">
                            <td class="list-group-item-action" (click)="showResource(v)">
                                <span class="fa fa-car"></span>
                                {{ v.name }}
                            </td>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #noVehicle>
                    <td class="font-italic">
                        No vehicle
                    </td>
                </ng-template>
            </div>
        </tr>

    </tbody>
</table>

<ng-template #loading>
    <td>
        <span class="fa fa-spinner fa-1g fa-spin"></span>
        Fetching data...
    </td>
</ng-template>