<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">
            <span class="fa fa-home"></span>
            Home
        </a>
        <a class="nav-item nav-link" routerLink="/list">Star Wars Resources</a>
        <a class="nav-item nav-link right" (click)="logout()">
            <span class="fa fa-power-off"></span>
            Logout
        </a>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>