<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <a class="navbar-brand" href="/">
        <img src="./../assets/images/sw-logo-white.png" width="50" height="50" alt="">
    </a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/list">Wiki</a>
        <a class="nav-item nav-link right" (click)="logout()">
            <span class="fa fa-power-off"></span>
            Logout
        </a>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
    <div class="container" style="height:100vh;">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>